@import "tailwindcss";

@layer components {
  .text-parrafo {
    @apply text-lg font-light w-full text-left pl-4 pt-2;
  }

  .section-card {
    @apply flex flex-col rounded-md items-start w-12/12 border-t-2 p-4 hover:shadow-lg shadow-blue-900 transition-transform duration-300 hover:-translate-y-2;
  }

  .section-title {
    @apply flex text-2xl font-medium;
  }

  .project-section {
    @apply flex flex-col rounded-md items-start w-12/12 border-t-2 p-4
  }

  .project-card {
    @apply flex flex-col rounded-md items-start border-t-2 p-4 hover:shadow-lg shadow-blue-900 transition-transform duration-300 w-6/12 border-2 hover:-translate-y-2;
  }

  .btn-rounded-primary{
    @apply rounded-full border border-solid border-transparent transition-colors flex items-center justify-center bg-foreground text-background gap-2 hover:bg-[#383838] dark:hover:bg-[#ccc] text-sm sm:text-base h-10 sm:h-12 px-4 sm:px-5;
  }

  .btn-rounded-secondary{
    @apply rounded-full border border-solid border-black/[.08] dark:border-white/[.145] transition-colors flex items-center justify-center hover:bg-[#f2f2f2] dark:hover:bg-[#1a1a1a] hover:border-transparent text-sm sm:text-base h-10 sm:h-12 px-4 sm:px-5 sm:min-w-44;
  }


}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

